/*https://brand.riotgames.com/en-us/league-of-legends/typography*/

:root {
    --blue-1: #CDFAFA;
    --blue-2: #0AC8B9;
    --blue-3: #0397AB;
    --blue-4: #005A82;
    --blue-5: #0A323C;
    --blue-6: #091428;
    --blue-7: #0A1428;

    --gold-1: #F0E6D2;
    --gold-2: #C8AA6E;
    --gold-3: #C89B3C;
    --gold-4: #785A28;
    --gold-5: #463714;
    --gold-6: #32281E;

    --grey-1: #A09B8C;
    --grey-1-5: #5B5A56;
    --grey-2: #3C3C41;
    --grey-3: #1E2328;
    --grey-cool: #1E282D;
    --hextech-black: #010A13;

    /*For use in background applications only.*/
    --dark-blue-gradient: linear-gradient(to bottom, #091428 0%, #0A1428 100%);
    /*For use in Hextech metal only.*/
    --gold-gradient: linear-gradient(180deg, #785A28 0%, #C89B3C 100%);
    /*For use in design elements that contain magic.*/
    --blue-gradient: linear-gradient(180deg, #005A82 0%, #0AC8B9 100%);
    --blue-gradient-1: #005A82;
    --blue-gradient-2: #0AC8B9;
}

/*
Guiding principles
Primary buttons and important gameplay UI elements are charged with Hextech magic – its function is to draw the
player’s attention towards key interactions such as interactive buttons, timers, activity indicators, and progress bars.
While this element shows up in many different ways, it always follows a few core tenants.
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Example usage */
body {
    background: var(--dark-blue-gradient);
    color: var(--blue-1);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--gold-2);
}
